// ## Bg Image ##
#app {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

// ## Header ##
header {
  min-height: 100vh;
}

.header {
  &__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    h1 {
      margin: 0;
    }

    h2 {
      margin: 0;
    }

    a {
      margin-top: 24px;
    }
  }

  &__coords {
    padding: 20px 0;
  }
}

// ## Main-Navigation ##
.main-nav {
  z-index: 100;
  position: fixed;
  background-color: $main2;
  color: $white;
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  right: -100vw;
  transition: transform 0.8s ease;

  &__colorbar {
    width: 0vw;
    height: 100vh;
    background-color: $main1-light;
  }

  &__content {
    width: 100vw;
    min-height: 100%;
  }

  &__wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    height: 100px;
    padding: $wrapper-padding 0;
    display: flex;
    align-items: center;
  }

  &__list {
    padding: $wrapper-padding;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    li {
      margin-top: $wrapper-padding;
    }
  }
}

// Open State
.openMenu .main-nav {
  transform: translateX(-100vw);
  transition: transform 0.8s ease 0.3s;
}

.openMenu .main-nav__colorbar {
  animation: openMenu_blue 0.3s ease forwards;
}

.openMenu .topbar__menu-btn {
  background-color: $white;
  transition: background-color 0.8s ease 0.3s;

  div {
    background-color: $main2;
    transition: background-color 0.8s ease 0.3s;
  }
}

// Animation
@keyframes openMenu_blue {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

// ## Content Sections ##
.con-section {
  padding: $wrapper-padding * 2 0;

  &__title {
    * {
      margin: 0;
    }
  }
}