// ## Bg Image ##
.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1000;
  background-size: cover;
  background-position: center center;
}

// ## Header ##
header {
  position: relative;
  min-height: 100vh;
}

.header {
  &__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    h1 {
      margin: 0;
      line-height: 1;
      margin-bottom: 0.2em;
    }

    h2 {
      margin: 0;
      line-height: 1;
    }

    a {
      margin-top: 3em;
    }
  }

  &__coords {
    padding: 20px 0;
  }

  &__img {
    display: none;
  }
}

// Breakpoints
@include breakpoint(medium) {
  .header {
    &__img {
      display: block;
      position: absolute;
      z-index: -1;
      top: 30%;
      left: 25%;
      width: 100vw;
      max-width: 1700px;
    }
  }
}

@include breakpoint(large) {
  .header {
    &__img {
      left: 30%;
      top: 20%;
    }
  }
}

// ## Main-Navigation ##
.main-nav {
  z-index: 100;
  position: fixed;
  background-color: $main2;
  color: $white;
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  right: -100vw;
  transition: transform 0.8s ease;

  &__colorbar {
    width: 0vw;
    height: 100vh;
    background-color: $main1-light;
  }

  &__content {
    width: 100vw;
    min-height: 100%;
  }

  &__wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    height: 100px;
    padding: $wrapper-padding 0;
    display: flex;
    align-items: center;
  }

  &__list {
    padding: $wrapper-padding * 3 $wrapper-padding;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    li {
      margin-top: $wrapper-padding;
    }
  }
}

// Open State
.openMenu .main-nav {
  transform: translateX(-100vw);
  transition: transform 0.8s ease 0.3s;
}

.openMenu .main-nav__colorbar {
  animation: openMenu_blue 0.3s ease forwards;
}

.openMenu .topbar__menu-btn {
  background-color: $white;
  transition: background-color 0.8s ease 0.3s;

  div {
    background-color: $main2;
    transition: background-color 0.8s ease 0.3s;
  }
}

// Animation
@keyframes openMenu_blue {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

// Breakpoints
@include breakpoint(medium) {
  .main-nav {
    display: none;
  }
}

// ## Main ## 
main {
  padding: $wrapper-padding 0;
}

// ## Content Sections ##
.con-section {
  padding: $wrapper-padding * 2 0;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__col--1-4 {
    width: 100%;
    margin-bottom: $wrapper-padding / 2;
  }

  &__col--3-4 {
    width: 100%;
  }

  &__title {
    h3 {
      margin-top: 0;
    }

    h4 {
      margin: 0;
      line-height: 1;
    }
  }

  &__cta {
    padding: 1em 0;
    display: flex;
    justify-content: center;
  }
}

// Breakpoints 
@include breakpoint(small) {
  .con-section {
    &__col--3-4 {
      p {
        width: 83%;
      }
    }

    &__cta {
      justify-content: flex-end;
    }
  }
}

@include breakpoint(medium) {
  .con-section {
    &__col--1-4 {
      flex: 1;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    &__col--3-4 {
      flex: 3;
    }
  }
}

@include breakpoint(large) {
  .con-section {
    &__title {
      position: relative;
    }
  }

  @supports(writing-mode: vertical-lr) {
    .con-section {
      &__title {
        h4 {
          position: absolute;
          writing-mode: vertical-lr;
          top: 0.8em;
          left: -2em;
          transform: rotate(180deg);
        }
      }
    }
  }
}