// ## Home ##

// About Section 
.con-section--about {
  .con-section__col--1-4 {
    display: none;
  }

  video {
    margin-bottom: 0.3em;
  }

  .locations {
    list-style-type: square;
    margin: 0.5em 0;
  }

  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: $main2;
      width: 1.5em;
      margin: 1em;
    }
  }
}

// Acts Section
.con-section--acts {
  .acts-preview {
    &__container {
      position: relative;
      overflow: hidden;

      .img-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 110%;
        background-color: $main2;
        transform: translateX(-100%);
        transition: all 0.4s cubic-bezier(0.35, 0.66, 0.6, 0.29);
      }

      img {
        transition: all 0.01s ease 0.2s;
      }

      &:hover .img-overlay {
        transform: translateX(100%);
      }

      &:hover img {
        transform: scale(1.2) rotate(-5deg);
      }
    }

    &__name {
      position: relative;
      z-index: 10;
      transform: translateY(-50%);
      background-color: $white;
      margin: 0 auto;
      text-align: center;
      max-width: 80%;
      padding: 0.8em 1em;
    }
  }
}

// Location Section
.con-section--location {
  .map-container {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;

    .map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Breakpoints 
@include breakpoint(small) {
  .con-section--about {
    video {
      margin-bottom: 0.5em;
    }
  
    .social-list {
      justify-content: flex-start;

      svg {
        margin-left: 0;
      }
    }
  }

  .con-section--acts {
    .acts-preview {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: $wrapper-padding;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &:nth-of-type(1) {
          grid-column: 1 / span 1;
          grid-row: 1 / span 2;
        }

        &:nth-of-type(2) {
          grid-column: 2 / span 1;
          grid-row: 2 / span 2;
        }

        &:nth-of-type(3) {
          grid-column: 1 / span 1;
          grid-row: 3 / span 2;
        }

        &:nth-of-type(4) {
          grid-column: 2 / span 1;
          grid-row: 4 / span 2;
        }

        &:nth-of-type(5) {
          grid-column: 1 / span 1;
          grid-row: 5 / span 2;
        }
      }

      &__name {
        margin: 0;
        text-align: right;
        width: auto;
        max-width: 100%;
      }
    }
  }
}

@include breakpoint(medium) {
  .con-section--about {
    .con-section__col--1-4 {
      display: flex;
    }

    .social-list {
      display: none;

      &--desktop {
        display: flex;

        svg {
          width: 1.5em;
          margin-right: 1em;
          padding: 0;
        }
      }
    }
  }
}

// ## About ##
.con-section--gallery {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56%;
      margin-bottom: 2%;
      overflow: hidden;
      transition: transform 0.3s ease;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transform: translate(-50%, -50%);
      }

      &:hover {
        transform: scale(0.9)
      }
    }
  }
}

.con-section--cities {
  .city {
    padding: 1em;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $wrapper-padding / 2;
    transition: all 0.3s ease;

    &__icon {
      margin: 0 auto;
      width: 100px;

      svg {
        fill: $main2;
        transition: all 0.3s ease;
      }
    }

    &__info {
      margin-top: -1em;
      text-align: center;

      p {
        width: 100%;
      }
    }

    &__title {
      margin-bottom: 0;
    }

    &__date {
      margin-bottom: 0.5em;
    }

    &.selected {
      border: 4px solid $main2;
    }

    &:hover {
      background-color: $main2;
      color: $white;

      svg {
        fill: $white;
      }
    }

  }
}

// Breakpoints
@include breakpoint(small) {
  .con-section--gallery {
    .gallery {
      a {
        padding-bottom: 28%;
        width: 49%;
      }
    }
  }

  .con-section--cities {
    .city {
      max-width: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__icon {
        width: 25%;

        svg {
          width: 100px;
          margin-bottom: -1em;
        }
      }

      &__info {
        width: 73%;
        text-align: left;
      }
    }
  }
}

@include breakpoint(medium) {
  .con-section--cities {
    .cities {
      display: flex;
      justify-content: space-between;
    }

    .city {
      display: block;
      width: 32%;

      &__icon {
        width: 100px;

        svg {
          margin-bottom: 0;
        }
      }

      &__info {
        width: 100%;
        text-align: center;
      }
    }
  }
}

// ## Tickets ##
.con-section--form {
  .con-section__col--3-4 {
    margin-bottom: $wrapper-padding * 2;
  }
}

// Breakpoints
@include breakpoint(medium) {
  .con-section--form {
    .con-section__col--1-4 {
      justify-content: flex-start;
      width: 25%;
      flex: none;

      h5 {
        margin: 0;
      }
    }
  
    .con-section__col--3-4 {
      width: 75%;
      flex: none;
    }
  }
}

// ## Social ##
.con-section--wall {
  .social-gallery {
    column-count: 1;
    column-gap: $wrapper-padding;
    
    &__item {
      max-width: 100%;
      page-break-inside: avoid;
      break-inside: avoid;
      margin-bottom: $wrapper-padding;
    }

    &__media {
      max-width: 100%;
      display: block;
      margin: 0;
    }

    &__info {
      display: flex;
      flex-wrap: wrap;
      background-color: $main2;
      padding: $wrapper-padding / 2 $wrapper-padding;
      color: $white;
    }

    &__desc {
      width: 85%;
      padding: $wrapper-padding / 2 0;

      * {
        margin: 0;
      }
    }

    &__likes {
      width: 15%;
      padding: $wrapper-padding / 2 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      * {
        margin: 0;
      }
      
      svg {
        fill: $white;
        width: 1.5em;
        cursor: pointer;
      }
    }

    &__tags {
      padding: $wrapper-padding / 2 0;
      width: 100%;

      span {
        background-color: $white;
        border-radius: 1em;
        color: $main2;
        padding: 0.4em 0.5em;
        margin: 0 8px 8px 0; 
        cursor: pointer; 
      }
    }
  }
}

.upload-success {
  position: fixed;
  cursor: pointer;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $main1-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// Breakpoints
@include breakpoint(small) {
  .con-section--wall {
    .social-gallery {
      column-count: 2;
    }
  }
}

@include breakpoint(medium) {
  .con-section--wall {
    .social-gallery {
      column-count: 3;
    }
  }
}