// ## Home ##

// About Section 
.con-section--about {
  video {
    margin-bottom: 0.3em;
  }

  .social-list {
    display: flex;
    justify-content: center;
    align-items: center;

    &--desktop {
      display: none;
    }

    svg {
      fill: $main2;
      width: 3.5em;
      padding: 1em;
    }
  }
}

// Acts Section
.con-section--acts {
  .acts-preview {
    &__container {
      position: relative;
      overflow: hidden;

      .img-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 110%;
        background-color: $main2;
        transform: translateX(-100%);
        transition: all 0.4s cubic-bezier(0.35, 0.66, 0.6, 0.29);
      }

      img {
        transition: all 0.01s ease 0.2s;
      }

      &:hover .img-overlay {
        transform: translateX(100%);
      }

      &:hover img {
        transform: scale(1.2) rotate(-5deg);
      }
    }

    &__name {
      position: relative;
      z-index: 10;
      transform: translateY(-50%);
      background-color: $white;
      margin: 0 auto;
      text-align: center;
      max-width: 80%;
      padding: 0.8em 1em;
    }
  }
}

// Location Section
.con-section--location {
  .map-container {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;

    .map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Breakpoints 
@include breakpoint(small) {
  .con-section--about {
    video {
      margin-bottom: 0.5em;
    }
  
    .social-list {
      justify-content: flex-start;
    }
  }

  .con-section--acts {
    .acts-preview {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: $wrapper-padding;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &:nth-of-type(1) {
          grid-column: 1 / span 1;
          grid-row: 1 / span 2;
        }

        &:nth-of-type(2) {
          grid-column: 2 / span 1;
          grid-row: 2 / span 2;
        }

        &:nth-of-type(3) {
          grid-column: 1 / span 1;
          grid-row: 3 / span 2;
        }

        &:nth-of-type(4) {
          grid-column: 2 / span 1;
          grid-row: 4 / span 2;
        }

        &:nth-of-type(5) {
          grid-column: 1 / span 1;
          grid-row: 5 / span 2;
        }
      }

      &__name {
        margin: 0;
        text-align: right;
        width: auto;
        max-width: 100%;
      }
    }
  }
}

@include breakpoint(medium) {
  .con-section--about {
    .social-list {
      display: none;

      &--desktop {
        display: flex;

        svg {
          width: 1.5em;
          margin-right: 1em;
          padding: 0;
        }
      }
    }
  }
}