<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Befree Festival – Social Wall</title>
  <meta name="author" content="Dominik Hofer">
  <meta name="description" content="Befree – the music festival for all edm-lovers out there. Right in the middle of the summer, at three locations all over Europe.">
  <meta name="keywords" content="Befree, Festival, Bern, Switzerland, Berlin, Germany, Barcelona, Spain">
  <meta name="theme-color" content="#5544FF">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">  
  <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">  
  <link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">  

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/dak1slp.css">

  <!-- CSS -->
  <link rel="stylesheet" href="css/style.min.css">

</head>
<body>

  <!-- Content inside of #app is partly managed by Vue.js -->
  <div id="app">

    <!-- Noscript -->
    @@include('_no-js.html')

    <!-- Loading Screen -->
    @@include('_loading-screen.html')

    <!-- City Selection -->
    @@include('_city-select.html')

    <!-- Background Image -->
    <div v-if="festivalInfo[0]" class="bg" :style="{ backgroundImage: 'url(assets/img/bg/' + currentCity + '.png)' }"></div>

    <!-- Main Nav -->
    @@include('_mainnav.html')

    <!-- Header Section -->
    <header v-if="festivalInfo[0]">
      <div class="wrapper header__wrapper">
        
        @@include('_topbar.html')

        <div class="header__title">
          <h1>Social Wall</h1>
          <h2 class="h3">Feel the vibe</h2>
          <a href="#upload" class="btn h4">Submit your impressions here!</a>
        </div>
        <p class="header__coords h5">{{ festivalInfo[0].fields.latitude }} {{ festivalInfo[0].fields.longitude }}</p>
      </div>

      <img :src="'assets/img/header/social.png'" class="header__img">

    </header>
    
    <!-- Main Section -->
    <main v-if="festivalInfo[0]">

      <!-- Wall Section -->
      <section class="con-section con-section--wall">
        <div class="wrapper con-section__wrapper">
          <div class="con-section__title">
            <h4 class="h5">Your&nbsp;impressions</h4>
            <h3 class="h2">Pics & videos</h3>
          </div>
          <div class="con-section__content">
            <div class="social-gallery">
              <div class="social-gallery__item" v-for="post in socialWall">
                <img class="social-gallery__media" :src="'assets/img/social/' + post.fields.fileName + '.jpg'" :alt="post.fields.title" v-if="post.fields.type[0] == 'photo'">
                <video class="social-gallery__media" :src="'assets/img/social/' + post.fields.fileName + '.mp4'" controls :poster="'assets/img/social/poster/' + post.fields.fileName + '.jpg'" v-else>
                  Sorry, your browser doesn't support embedded videos, 
                  but don't worry, you can <a :href="'assets/img/social/' + post.fields.fileName + '.mp4'">download it</a>
                  and watch it with your favorite video player!
                </video>
                <div class="social-gallery__info">
                  <div class="social-gallery__desc">
                      <p class="h4">{{ post.fields.title  }}</p>
                      <p>{{ post.fields.author  }}</p>
                  </div>
                  <div class="social-gallery__likes" @click="likes(post)">
                    <svg viewBox="0 0 24 24" v-if="!post.fields.liked">
                        <path d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" />
                    </svg>
                    <svg viewBox="0 0 24 24" v-if="post.fields.liked">
                        <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
                    </svg>
                    <p>{{ post.fields.likes }}</p>
                  </div>
                  <div class="social-gallery__tags">
                    <span v-for="tag in post.fields.tags">#{{ tag }}&nbsp;</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Form Section -->
      <div class="upload-success" v-if="upload.submitted" @click="closeUpload()">
          <svg class="close" viewBox="0 0 24 24">
              <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
          </svg>
          <svg class="check" viewBox="0 0 24 24">
              <path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />
          </svg>
        <h2>Thanks for your impression!</h2>
        <p>We'll publish it in a few moments...</p>
      </div>

      <form action="#" class="con-section con-section--form" id="upload" method="GET" @submit.prevent="upload.submitted = true">
          <div class="wrapper con-section__wrapper">
            <div class="con-section__title">
              <h4 class="h5">Be&nbsp;creative</h4>
              <h3 class="h2">Send us your impressions</h3>
            </div>
            <div class="con-section__content">
              <div class="con-section__col--1-4">
                  <h5 class="h4">Your upload</h5>
              </div>
              <div class="con-section__col--3-4">
                <div class="form__row">
                  <div class="form__item form__item--1-2">
                    <label for="title" class="form__label">Title:*</label>
                    <input type="text" class="form__input bigger" name="title" placeholder="Festival Mood" v-model="upload.title" required>
                  </div>
                  <div class="form__item form__item--1-2">
                    <label for="author" class="form__label">Author:*</label>
                    <input type="text" class="form__input bigger" name="author" placeholder="John Doe" v-model="upload.author" required>
                  </div>
                </div>
                <div class="form__row">
                  <div class="form__item">
                    <label for="tags" class="form__label">Tags:</label>
                    <input type="text" class="form__input bigger" name="tags" placeholder="people, mood" v-model="upload.tags">
                  </div>
                </div>
                <div class="form__row">
                  <div class="form__item form__item--file">
                    <input type="file" id="file" class="form__input bigger" name="file" @change="fileUpload(event)">
                    <label for="file" class="form__label" :class="{ active: upload.fileSelected }">{{ upload.file }}</label>
                  </div>
                </div>
                <div class="form__row">
                  <div class="form__item form__item--check">
                    <label for="checkbox" class="checkbox-container">
                      <input type="checkbox" name="Checkbox" id="checkbox" v-model="upload.accepted">
                      <span></span>
                      <p>*Befree is allowed to post this photo/video on their site</p>
                    </label>
                  </div>
                </div>
                <div class="con-section__cta">
                  <input type="submit" class="btn btn--square bigger" value="Submit" accept="video/*,image/*" 
                  v-if="upload.title.length > 0 && upload.author.length > 0 && upload.fileSelected && upload.accepted"
                  >
                </div>
              </div>
            </div>
          </div>
        </form>

    </main>

    <!-- Footer Section -->
    @@include('_footer.html')

  </div>

<!-- JS -->
<script src="js/vendors.js"></script>
<script src="js/script.js"></script>
</body>
</html>